/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 set. 2023, 20:27:18
    Author     : HJVM
*/


.centro-centro{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centrarContenidoHorizontal{
    display: flex;
    justify-content: center;
}

.espaciadoDerecho{
    margin-right: 50px;
}