/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 set. 2023, 20:30:04
    Author     : HJVM
*/

.titulo{
    margin: 100px 0 0 10px;
    animation-name: aparicion;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}


@keyframes aparicion{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

